body {
    background-color: rgb(53, 52, 52);
    color: rgb(196, 196, 174);
}

#indicator {
float: left;
width: 33%;
text-align: center;
}

h1 {
    clear: both;
    text-align: center;
    padding-top: 200px;
}

.card {
    border: solid rgb(196, 196, 174) 5px;
    background-color: rgb(139, 135, 135);
    width: 700px;
    margin: 0 auto;
}

#start {
    background-color: rgb(138, 44, 11);
    border: none;
}

#ask {
    font-size: 18px;
}

#button1 {
    background-color: rgb(138, 44, 11);
    border: none;
    margin: 10px;
}

#button2 {
    background-color: rgb(138, 44, 11);
    border: none;
    margin: 10px;
}

#button3 {
    background-color: rgb(138, 44, 11);
    border: none;
    margin: 10px;
}

#button4 {
    background-color: rgb(138, 44, 11);
    border: none;
    margin: 10px;
}

#play {
    background-color: rgb(138, 44, 11);
    border: none;
    margin: 10px;
}

#submitName {
    background-color: rgb(138, 44, 11);
    border: none;
    margin-bottom: 10px;
}

#correctText {
    display: none;
}

#correctText.show {
    display: block;
}

#wrongText {
    display: none;
}

#wrongText.show {
    display: block;
}